<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div id="app" class="shadow">
        <div class="row">
          <div class="col text-center mb-3 font-weight-bold">
            Masukkan nama kota untuk mengecek cuaca dikota tersebut
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="input-group input-group-lg mb-3">
              <input type="text" class="form-control" placeholder="Nama Kota">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">Periksa!</button>
              </div>
            </div>
          </div>
        </div>

        <!-- error -->
        <div class="row">
          <div class="col">
            <div class="alert weather-error text-center">
              Tidak ada kota tersebut di database
            </div>
          </div>
        </div>

        <!-- sukses -->
        <div class="row">
          <div class="col text-center">
            <h1>Jakarta, ID</h1>
            <p><em>cloudy</em></p>
            <div class="weather-result__main mb-3">
              <img src="" alt="Weather Icon">
              <div class="weather-result__temp">
                28&deg;C
              </div>
            </div>
            <div class="weather-result__details">
              <p>Min: 28&deg;C</p>
              <p>Max: 33&deg;C</p>
              <p>Humidity: 43%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>